h1 {margin-bottom:0;}
#encabezado {background-color:#ddf0a4;}
#contenido {background-color:#EEEEEE;height:600px;}
#pie
{background-color:#ddf0a4;color:#ff0000;height:30px;}

table {
    border-collapse: collapse;
    margin: 10px 40px 10px 40px;
}

th, td {
    border: 1px solid black;
    padding: 20px;
}

th {
    background-color: lightgoldenrodyellow;
}