{% block header %}
    <h3>Bienvenid@ {{ app.user.username }}</h3>
    <a href="{{ path('familias') }}">Listado de familias</a>
    <a href="{{ path('pedidos') }}">Mis pedidos</a>
    <a href="{{ path('logout') }}">Desconectar</a>
{% endblock %}