{% extends 'base.html.twig' %}



{% block contenido %}
    {% block title %}Listado de productos{% endblock %}
    
    <table>
                {% for producto in productos %}
                <tr>
                    <td>
                       <form action="{{ path('anadir', {'idProd': producto.getId()}) }}" method="POST">
               
                        <input type="number" name="unidades" value="1"/>
                        <input type="hidden" name="codProd" value="{{ producto.getCod() }}">
                        <input type="submit" name="anadir" value="Añadir"/>
                        
                       </form>
                    </td>
                    <td>{{ producto.getNombre() }}</td>
                    <td>{{ producto.getPrecio() }} euros</td>
                
                </tr>
                
                
                
                {%  endfor %}
                
            </table>
    
    
    
{% endblock %}